<main>
  <h1><%= @text_file.title %></h1>
  <a href="<%= text_files_url %>">Back to files</a>
  <section class="text-file-section">
    <div class="typer-element">
      <%= @text_file.text %>
    </div>
  </section>
</main>
